*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #FFF url(imagens/fundo.png) repeat-x top;
}

ul{
	list-style: none;
}

#container{
	width: 98%;
	height: 250px;
	margin: 0 auto;
	padding-top: 10px;
	min-width: 820px;
	max-width: 960px;
}

#topo{
	height: 250px;
	background: url(imagens/detalhe-topo.png) no-repeat top right;
}

.logo{
	width: 152px;
	height: 66px;
	background: url(imagens/logo.png) no-repeat center;
}

#navegacao{
	margin-top: 50px;
}

#navegacao ul{
	border:3px solid #c90237;
	float: left;
}

#navegacao ul li{
	float: left;
	background: #b10333 url(imagens/divisor.png) repeat-y right;
}

#navegacao a{
	display: block;
	padding: 0 10px;
	line-height: 2.5em;
	text-decoration: none;
	color: #FFF;
}

#navegacao ul a:hover{
	background: #c90237;
	color: black;
}

#conteudo{
	width: 75%;
	float: right;
}

#conteudo-principal{
	width: 61% ;
	float: left;
	background: url(imagens/fundo-caixa.png);
	padding-top: 5px;
}

#conteudo-secundario{
	width: 36% ;
	float: right;
	background: url(imagens/fundo-caixa.png);
	padding-top: 5px;

}

#navegacao-vertical{
	width: 23%; 
	float: left;
	background: url(imagens/fundo-caixa.png);
	padding-top: 5px;
}

#navegacao-vertical ul{
	list-style: none;
}

#navegacao-vertical ul a{
	text-decoration: none;
	padding-top: 10px;
	display: block;
	height: 40px;
	color: black;
	font-weight: bold;
}

#navegacao-vertical a:hover{
	padding: 15px 0 0 20px;
	background-position: left;
	background: url(imagens/marcador.png) no-repeat left;
	color: #A1A1A1;
}

#container h2 {
	color: #FFF;
	background-color: #294C71; 
	padding: 10px 5px;
	font-size:25px;
	margin-bottom: 10px;
}

#container h3{
	display: inline-block;
	padding: 0px 5px;
	line-height: 32px;
	color: #FFF;
	background-color: #b10333;
	border-bottom:5px solid #c90237;
}

#conteudo .img-conteudo{
	width: 96%;
	padding: 2%;
}

#lista-noticias li{
	padding: 2px;
	border-bottom: 1px solid #CCC;
	height: 65px;
	line-height: 35px;
	width: 100%;
}



#lista-noticias li a{
	color:blue;
	text-decoration: none;
	display: block;

}

#lista-noticias li a:hover{
	background: #A1A1A1;
}

#lista-noticias li a span{
	color:black;
}

#lista-noticias li a img{
	float:left;
	margin: 5px;
	font-weight: bold;
}


#conteudo p{
	font-weight: bold;
}

#conteudo a{
	color: #b10333;
}

#conteudo #mundo{
	text-align: top;
}

#container .fundo-branco{
	padding: 5px 0;
	background-color: #FFF;
	margin-bottom: 30px;
	padding-left: 5px;
}

#email{
	display: block;
	width: 94%;
	height: 30px;
	cursor: pointer;

}

input.submit{
	padding: 10px 5px;
	background-color: #b10333;
	color: #FFF;
	font-weight: bold;
}

#rodape{
	clear: both;
	background: #294C71;
	color: white;
	border:3px solid #B10333;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}